modules = ["nodejs-20", "python-3.11"]

[nix]
packages = ["glibcLocales"]

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "App"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Start"
mode = "sequential"
author = 46154419

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "App"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "App"
